/* ---------- START - GENEARAL STYLES --------- */
:root {
  --color-main: #262a66;
  --color-white: #fff;
}
html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  
  background-image: url('../images/desktop_logo@2x.webp'); 
  background-repeat: no-repeat;
  background-size: cover; /*It covers the entire element*/
  background-attachment: fixed; /*It makes sure the entire element is always cover*/

  background-size: 100% 100%;
}
/* ---------- END - GENEARAL STYLES --------- */
